
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1E293B;
  background-color: rgb(252,250,242);
  width: 90%;
  margin: 2px auto;
  max-width: 670px;
  padding: 0 30px;
  line-height: 1.4;
}

h1,h2,h3 {line-height: 1.4}

header#banner {
  margin: 25px 0;
}

header#banner a {
  color: #1E293B;
  text-decoration: none;
}

header#banner a:hover {
  text-decoration: underline;
}

header#banner nav {
  display: inline-block;
}

header#banner h2 {
  display: inline;
  font-size: 19px;
  font-size: 2rem;
  margin: 0 8px 0 0;
}


header#banner h3 {
  display: inline;
  font-size: 11px;
  font-size: 1.1rem;
}



header#banner nav ul {
  list-style-type: none;
  font-size: 1.1em;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

header#banner nav ul li {
  display: inline;
  margin: 0 3px;
}



a {
  color: #24342E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


